TELEGRAM_BOT_TOKEN = "Ваш токен бота"
TELEGRAM_CHAT_ID = "Ваш чат id, на который будут приходить сообщения"
DJANGO_SECRET_KEY = "Секретный ключ Django"
MISTRAL_API_KEY = "Ключ API Mistral"
MISTRAL_MODEL = "Модель Mistral"